[Desktop Entry]
Version=1.0
Type=Application
Name=wxNewsReader
Comment=Leitor de notícias RSS e agregador de feeds
TryExec=/home/jamaj/src/python/pyTweeter/wxnews.sh
Exec=/home/jamaj/src/python/pyTweeter/wxnews.sh
Icon=news-feed
Terminal=false
Path=/home/jamaj/src/python/pyTweeter/
Categories=Network;News;
GenericName=Leitor de Notícias
StartupNotify=true
